body, html, ul, li{
    margin: 0;
    padding: 0;
}
/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "ExtraBold";
    font-weight: 800;
    src: url("https://at.alicdn.com/wf/webfont/XQ2l1xZHnY5a/SaMRJGKF4PVUw-tRoXReG.woff2") format("woff2"),url("https://at.alicdn.com/wf/webfont/XQ2l1xZHnY5a/1GVEZXqR_wcDB5KDbclbZ.woff") format("woff");
    font-display: swap;
    }

html{
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}
.my-page{
    background: url("https://www.bing.com/th?id=OHR.BridgeofSighs_EN-US5335369208_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&pid=hp") center center / cover no-repeat;
    background-attachment: fixed;
    position: relative;
}
.my-page::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;

}
.container{
    min-height: 10000px;
}
.container-real{
    position: absolute;
    left: 0;
    width: 100%;
    top: 100%;
}
.circle{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    line-height: 1.6;
    position: fixed;
    left: 50%;
    top: 0;
    letter-spacing: 0.06em;
    z-index: 123;
    font-family: "ExtraBold";
    font-weight: 300;
    font-family: "Helvetica Neue", "HelveticaNeueLTPro-Lt", Helvetica, Arial, sans-serif;
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, .2));
}

.circle-red{
    background-color: rgba(224, 0, 26, 0.6);
    -webkit-transform: translate(-50%, -200px);
    -ms-transform: translate(-50%, -200px);
    transform: translate(-50%, -200px);
}

.circle-blue{
    background-color: rgba(0, 158, 222, 0.6);
    -webkit-transform: translate(-50%, 370%);
    -ms-transform: translate(-50%, 370%);
    transform: translate(-50%, 370%);
}
.container-real{
    width: 100%;
    min-height: 2000px;
    background-color: #ffffff;
    position: fixed;
    left: 0;
    top: 100vh;
    z-index: 123;
}